<!-- Component Navbar -->
<nav>
  <div class="nav-wrapper black">
    <a class="brand-logo">Social Banners</a>
    <a href="#" class="brand-logo center">
      Pobierz
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a>Horizontal</a></li>
      <li><a>Horizontal Reverse</a></li>
      <li><a>Vertical</a></li>
      <li><a>Vertical Reverse</a></li>
    </ul>
  </div>
</nav>
<!-- Component Navbar End -->

<div>
  <!-- Component Banner -->
  <div class="banner">
    <div class="banner-text" [ngStyle]="getBannerStyles()">
      <span contenteditable="true" [style.fontSize.px]="fontSize">
        Zacznij programować w Angularze
      </span>
    </div>
  </div>
  <!-- Component Banner End -->

  <!-- Component Settings -->
  <div class="settings">
    <label>Kolor 1</label>
    <div class="colors">
      <span
        class="badge"
        *ngFor="let color of colors"
        [ngClass]="color"
        (click)="color1 = color"
      ></span>
    </div>

    <input type="range" min="0" max="100" [(ngModel)]="percentColor1" />

    <label>Kolor 2</label>
    <div class="colors">
      <span
        class="badge"
        *ngFor="let color of colors.reverse()"
        [ngClass]="color"
        (click)="color2 = color"
      ></span>
    </div>
    <input type="range" min="0" max="100" [(ngModel)]="percentColor2" />

    <label>Szerokość</label>
    <input type="range" min="0" max="1000" step="50" [(ngModel)]="width" />

    <label>Wysokość</label>
    <input type="range" min="0" max="1000" step="50" [(ngModel)]="height" />

    <label>Rozmiar czcionki</label>
    <input type="range" min="12" max="72" [(ngModel)]="fontSize" />
  </div>
  <!-- Component Settings End -->
</div>
