<!-- Component Navbar -->
<nav>
  <div class="nav-wrapper black">
    <a class="brand-logo">Social Banners</a>
    <a href="#" class="brand-logo center">
      Pobierz
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a>Horizontal</a></li>
      <li><a>Horizontal Reverse</a></li>
      <li><a>Vertical</a></li>
      <li><a>Vertical Reverse</a></li>
    </ul>
  </div>
</nav>
<!-- Component Navbar End -->

<div>
  <!-- Component Banner -->
  <div class="banner">
    <div class="banner-text">
      <span contenteditable="true">
        Zacznij programować w Angularze
      </span>
    </div>
  </div>
  <!-- Component Banner End -->

  <!-- Component Settings -->
  <div class="settings">
    <label>Kolor 1</label>
    <div class="colors">
      <span class="badge"></span>
    </div>

    <input type="range" min="0" max="100" />

    <label>Kolor 2</label>
    <div class="colors">
      <span class="badge"></span>
    </div>
    <input type="range" min="0" max="100" />

    <label>Szerokość</label>
    <input type="range" min="0" max="1000" step="50" />

    <label>Wysokość</label>
    <input type="range" min="0" max="1000" step="50" />

    <label>Rozmiar czcionki</label>
    <input type="range" min="12" max="72" />
  </div>
  <!-- Component Settings End -->
</div>
